# Analisi dei prezzi di azioni

Import delle librerie necessarie

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn
plt.style.use('fivethirtyeight')

from pandas_datareader import data as web
from datetime import datetime

Leggo i dati di interesse

In [2]:
stock = pd.read_csv('stock.csv', index_col= 'Date')

Visualizzazione tabellare dei dati: per ogni riga Ã¨ riportato il prezzo di diverse azioni in una specifica data

In [3]:
stock.head()

                   FB        AMZN       AAPL       NFLX        GOOG
Date
2015-01-02  78.449997  308.519989  24.819241  49.848572  523.373108
2015-01-05  77.190002  302.190002  24.120045  47.311428  512.463013
2015-01-06  76.150002  295.290009  24.122320  46.501431  500.585632
2015-01-07  76.150002  298.420013  24.460564  46.742859  499.727997
2015-01-08  78.180000  300.459991  25.400398  47.779999  501.303680

Valori delle statistiche di base per ognuna delle colonne

In [4]:
stock.describe()

                FB         AMZN         AAPL         NFLX         GOOG
count  1511.000000  1511.000000  1511.000000  1511.000000  1511.000000
mean    158.390265  1377.224282    46.605014   242.517075  1008.683518
std      51.216046   791.995557    25.572472   137.059678   307.515024
min      74.050003   286.950012    21.098566    45.547142   491.201416
25%     117.730000   727.875000    27.626856   110.114998   751.859985
50%     162.279999  1195.829956    39.878925   202.679993  1028.709961
75%     186.945000  1829.619995    52.474380   353.384995  1197.125000
max     303.910004  3531.449951   136.254608   556.549988  1827.989990

In [ ]:
plt.figure(figsize=(10,5))
for c in stock.columns.values:
    plt.plot(stock[c], label =c)


title = 'Prezzo Asset in Portafoglio'

plt.title(title)
plt.xlabel('Data', fontsize = 18)
plt.ylabel('Prezzo ($)', fontsize = 18)
plt.legend(stock.columns.values, loc = 'upper left')
plt.xticks([])

plt.show()

Calcolo i returns dei prezzi

In [ ]:
returns = stock.pct_change().dropna()
returns.head()

Distribuzione dei returns

In [ ]:
sn.displot(returns, bins=50)
plt.xlim(-0.10, 0.10)

Matrice di Covarianza

In [ ]:
cov_matrix_annual = returns.cov()*252 # NB: 252 Ã¨ il numero medio di giorni di contrattazione in 1 Anno
sn.heatmap(round(cov_matrix_annual,2), annot=True, fmt='g')
plt.title('Matrice di Covarianza')
plt.show()